<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476674918748-996e52ple5idcbf9oegldi9rjp2b5klf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476674918748-996e52ple5idcbf9oegldi9rjp2b5klf</string>
	<key>API_KEY</key>
	<string>AIzaSyBjnl0j4UkKC2zPTAV-1b_jNVj9zk3gl0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>476674918748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.andlancer.jsonexc.jsonTestExercise</string>
	<key>PROJECT_ID</key>
	<string>test-exercise-746e1</string>
	<key>STORAGE_BUCKET</key>
	<string>test-exercise-746e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476674918748:ios:21c1b094c2cf62d7dd5999</string>
</dict>
</plist>